doctype html
html(lang="en")
head
	title= pageTitle
	
	// inject:css
	// endinject

	// head:js
	// endinject
body
	h1= title
	div.test yo
	div.test2 yo
	div.test3 yo
	div.test4 bob

	// inject:js
	// endinject